.posts {
  /* width: 90%;
  max-width: 60rem; */
  margin: var(--size-8) auto;
}

.posts h1 {
  font-size: var(--size-8);
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}

@media (min-width: 768px) {
  .posts h1 {
    font-size: var(--size-16);
  }
}
