.latest {
  /* width: 90%;
  max-width: 80rem; */
  margin: var(--size-8) auto;
}

.latest h2 {
  font-size: var(--size-8);
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}

@media (min-width: 768px) {
  .latest h2 {
    font-size: var(--size-16);
  }
}
