.hero {
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    var(--color-grey-900),
    var(--color-grey-800)
  );
  padding: var(--size-8) 0;
}

.image {
  width: 15rem;
  max-width: 100%;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-grey-700);
  margin: auto;
}

.image img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}

.hero h1 {
  font-size: var(--size-16);
  margin: var(--size-4) 0;
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  -webkit-background-clip: text;
  color: transparent;
}

.hero p {
  font-size: var(--size-6);
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  -webkit-background-clip: text;
  color: transparent;
  width: 90%;
  max-width: 40rem;
  margin: auto;
}
